    label.form-label.text-info-big {
    font-size: 35px;
    text-align: center;
    display: block;
    background: #76573e;
    border-radius: 0 0  20px 20px;
    padding-bottom: 13px;
}



.personagem {
    position: relative;
    width: 288px;
    height: 308px;
    margin: 0 auto;
    max-width: 100%;
}

.personagem img {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -32%;
    width: 70%;
}


img.arma {
  animation: arma 1s infinite linear alternate-reverse;
}


img.escudo{

 animation: escudo 1s infinite linear alternate-reverse;

}

img.cabeca, img.rosto{
    animation: cabeca 1s infinite linear alternate-reverse;
   
}

 
.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}

.almendra-regular, * { 
  font-family: "Almendra", serif;
  font-weight: 400;
  font-style: normal;
}

.almendra-bold {
  font-family: "Almendra", serif;
  font-weight: 700;
  font-style: normal;
}

.almendra-regular-italic {
  font-family: "Almendra", serif;
  font-weight: 400;
  font-style: italic;
}

.almendra-bold-italic {
  font-family: "Almendra", serif;
  font-weight: 700;
  font-style: italic;
}

.card-body.text-center.personagem-tela .personagem  {
    background: url(/static/assets/img/fundo-personagem.png);
    background-size: contain;
    background-repeat: no-repeat;
    background: rgba(255,255,255,0.4);
    border-radius: 10px;
}
 
.fundo-home{ background: url(/static/assets/img/3-Copia.png);
    background-size: cover;
    background-repeat: no-repeat; }

.botao-medieval {
  padding: 1rem 2rem;
  background: linear-gradient(#b57f3f, #9a652c);
  border: 4px solid #5b3a1f;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-family: 'MedievalSharp', serif; /* ou uma similar */
  box-shadow: inset 0 0 0 2px #dba75f, 2px 2px 0 #3e260f;
  text-shadow: 1px 1px 0 #000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
 
.botao-medieval:hover {
  transform: scale(1.03);
  background: linear-gradient(#c68b47, #a87030);
}

.quadro-medieval {
  background: rgba(0, 0, 0, 0.5); /* ou insere uma imagem estilo pergaminho */
  border: 6px solid #7a4e1d;
  border-radius: 12px;
  box-shadow: 0 0 12px #000;
  max-width: 400px;
  margin: auto;
}
  
a.botao-medieval {
    text-decoration: none;
}




h1.mb-4, p.lead, footer.text-center.mt-5 {
    color: #fff;
    text-shadow: 0 0 5px #114329;
} 

a.ass {
    color: #fff;
    text-decoration: none;
}

a.ass span {
    background: #af793b;
    padding-left: 3px;
    padding-right: 3px;
}

.quadro-medieval {
  display:flex;
    gap: 20px;
}

.botao-medieval,
.btn-outline-light {
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}


body.bg-dark.text-light.medieval-fundo{
background-image: url('/static/assets/img/3-Copia.png')!important;
background-size: cover;
background-position: bottom center;
background-repeat: repeat-x;
/* animation: move 60s infinite linear alternate-reverse;*/
} 

.skill{
color: rgb(255, 255, 255) !important;
    font-weight: 700;
    font-size: 25px;
}

.card-body.finish-card {
    background: url(/static/assets/img/2-Copia.png);
    background-size: contain;
    background-repeat: repeat-x;
    background-color: #704317;
    box-shadow: rgb(0, 0, 0) 0px 0px 12px;
    max-width: 400px;
    background: rgba(0, 0, 0, 0.5);
    border-width: 6px;
    border-style: solid;
    border-color: rgb(122, 78, 29);
    border-image: initial;
    border-radius: 12px;
    margin: auto;
}


 /*
@keyframes move {
  0% {
    background-position: bottom 0;

  }
  100% {
    background-position:bottom 5000px ;
  }
}
*/

.bg-light {
    border: 0;
}



.card-body ul {list-style: none;padding: 0;color: #fff;}

h5.card-title { 
    margin-top: 26px;
    font-size: 36px;
}

.card-body {
    text-align: center;
}




button.btn.btn-sm.btn-danger.mt-2.delete {
    margin-bottom: 20px;
}

.card-title.nome {
    background: #7a4e1d;
    margin-top: 0;
    margin-bottom: 10px;
}


.quadro-medieval.text-center.p-5 form {
    display: block;
    width: 100%;
}

.bg-black {
    --bs-bg-opacity: 1;
    background-color: rgb(122 78 29) !important;
}
.quadro-medieval.text-center.p-5.col-md-6.mx-auto.personagem-create {
    width: 100%;
    max-width: 100%;
}

input[type="range"] {
  -webkit-appearance: none; /* remove o estilo padrão */
  width: 100%;
  height: 6px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
}

/* BOLINHA no Chrome, Safari, Edge */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: rgb(122 78 29) !important;
  cursor: pointer;
  margin-top: -7px; /* ajusta o alinhamento vertical */
}

/* BOLINHA no Firefox */
input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: rgb(122 78 29) !important;
  cursor: pointer;
}

/* BOLINHA no Internet Explorer */
input[type="range"]::-ms-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: rgb(122 78 29) !important;
  cursor: pointer;
}

input#nome {
    background: rgba(255,255,255,0.6);
    border: 1px solid #7a4e1d;
    padding: 20px;
    color: #69533e;
    font-weight: 700;
}

#carrossel-armas {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem 0;
}

.arma-item {
  scroll-snap-align: center;
  min-width: 120px;
  flex-shrink: 0;
}

.d-flex.justify-content-between.align-items-center {
    height: 176px;
}


.d-flex.justify-content-between.align-items-center {
    background: rgba(255,255,255,0.1);
    border-radius: 15px;
    padding: 15px;
    color: #ffffff;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

div#carrossel-escudos small,div#carrossel-armas small {
    font-size: 20px;
    line-height: 20px;
    display: block;
    height: 50px;
    FONT-WEIGHT: 700;
    width: 100%; 
}
select#armaduras, select#capacetes {
    background-color: rgba(255,255,255,0.6);
    padding: 15px;
    border: 1px solid #7a4e1d;
}
button.btn.btn-sm.btn-danger.mt-2.select {
    background: transparent;
    border-color: #fff;
}

button.btn.btn-sm.btn-danger.mt-2.select:hover {
    background: #fff;;
    color: #000
}


.row.controls {
    box-sizing: border-box;
    padding: 0 10px;
}



.row.controls button {
    width: 100%;
}

ul.hard-skills li {
    border: 1px solid #7a4e1d;
    margin-bottom: 5px;
}

ul.hard-skills {
    padding: 10px;
}

ul.hard-skills li span {
    background: #8e7e04;
    width: 0%;
    padding: initial;
    height: 100%;
    display: block;
    top: 0;
    left: 0; 
    position: absolute;
    z-index: -1;
}

ul.hard-skills {
    position: relative;
    z-index: 1;
}

.card-body.finish-card.selecionado {
    background-image:url(/static/assets/img/4-Copia.png);
    background-size: cover;
  }

  .card-body.finish-card.selecionado .row.controls,  .row.controls.start{
    display: none;
}

.card-body.finish-card.selecionado .row.controls.start{display:block;}
ul.hard-skills li {
    position: relative;
    background: rgba(255,255,255,0.2);
    border-radius: 100px;
    overflow: hidden;
    box-shadow: 0 0 5px #000;
}

.card-body.finish-card.selecionado {
    border-color: #fff;
}

.card-body.finish-card.selecionado h5.card-title.nome {
    background: #fff;
}

@media(max-width:991px){
.quadro-medieval {
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    gap: 30px;
}

.home .d-grid.gap-2.col-6.mx-auto.mt-4 {
    padding: 0!important;
    width: 100%!important;
}







}

@keyframes cabeca {
  0% {
     transform: skewY(0) skewX(0) translateY(0);
  }
  100% {
    transform: skewY(1deg) skewX(1deg) translateY(2px);
  }
}



@keyframes arma {
  0% {
    transform: rotate(0deg) translateX(0px);
  }
  100% {
    transform: rotate(2deg) translateX(2px);
  }
}

 
@keyframes escudo {
  0% {
    transform: rotate(2deg) translateX(2px) scale(1);
  }
  100% {
    transform: rotate(0deg) translateX(0px) scale(1.05); 
  }
}


/* Animation One */

.one span {	
	opacity: 0;
	transform: translate(-150px, -50px) rotate(-180deg) scale(3);
	animation: revolveScale 1s forwards;
}

@keyframes revolveScale {
	60% {
		transform: translate(20px, 20px) rotate(30deg) scale(.3);
	}

	100% {
		transform: translate(0) rotate(0) scale(1);
		opacity: 1;
	}
} 


.pulsando {
  animation: pulse 1.2s infinite ease-in-out;
}

button.btn.btn-sm.btn-danger.mt-2 {
    margin-bottom: 20px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.75;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
