{% extends "base.html" %}
{% block titulo %}Dashboard{% endblock %}
{% block conteudo %}
<div class="container py-5">
  <h2 class="text-center mb-4">Seus Personagens</h2>
  <div class="d-flex justify-content-end mb-3">
    <a href="/criar_personagem" class="btn btn-outline-light btn-lg text-nowrap">+ Criar novo personagem</a>
  </div>

  {% if personagens %}
    <div class="row">
      {% for p in personagens %}
      <div class="col-md-4 mb-4">
        <div class="text-dark">
          <div class="card-body finish-card">
            <h5 class="card-title nome">{{ p.nome }}</h5>
            <ul class="hard-skills"> 
                <li><span style="width: {{ p.forca }}%;"></span>Força: {{ p.forca }}%</li>
              <li><span style="width: {{ p.inteligencia }}%;"></span>Inteligência: {{ p.inteligencia }}%</li>
              <li><span style="width: {{ p.agilidade }}%;"></span>Agilidade: {{ p.agilidade }}%</li>
              <li><span style="width: {{ p.resistencia }}%;"></span>Resistência: {{ p.resistencia }}%</li>

            </ul> 

            <div class="personagem">
              {% if 'arco.png' in p.arma %}
                <img src="{{ p.arma }}" class="arco" alt=""> 
              {% else %}
                <img src="{{ url_for('static', filename='assets/img/vazio.png') }}" class="arco" alt="">
              {% endif %}
              <img src="{{ url_for('static', filename='assets/img/cabeca.png') }}" class="rosto" alt="">   
              <img src="{{ p.capacete }}" class="cabeca" alt="">  
              <img src="{{ p.armadura }}" class="corpo-1" alt=""> 
              <img src="{{ p.escudo }}" class="escudo" alt=""> 

              {% if 'arco.png' in p.arma %}
                <img src="{{ url_for('static', filename='assets/img/vazio.png') }}" class="arma" alt="">
              {% else %}
                <img src="{{ p.arma }}" class="arma" alt="">
              {% endif %}
            </div> 

            <div class="row controls">
              <div class="col-sm-6">
                <form action="{{ url_for('deletar_personagem', id=p.id) }}" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir este personagem?')">
                  <button class="btn btn-sm btn-danger mt-2 delete">Excluir</button>
                </form>
              </div>
              <div class="col-sm-6">        
                <button class="btn btn-sm btn-danger mt-2 selecionar-btn select" onclick="selecionarPersonagem(this)">Selecionar</button>      
              </div>
            </div>

            <div class="row controls start"> 
              <div class="col-sm-12">        
                <button class="btn btn-sm btn-danger mt-2 jogar-btn select" onclick="return alert('Iniciando o jogo')">Jogar</button>    
              </div>
            </div>

          </div> <!-- .card-body -->
        </div> <!-- .text-dark -->
      </div> <!-- .col-md-4 -->
      {% endfor %}
    </div>
  {% else %}
    <div class="quadro-medieval text-center p-5 col-md-6 mx-auto"  style=" margin-top: 120px; margin-bottom: 120px;  display: block;">
    <p class="text-center">Nenhum personagem cadastrado.</p>
  </div>
  {% endif %}
</div>
{% endblock %}
 